<section class="section-catalog" id="catalog">
  <div class="container">
    <h2 class="title-catalog-section">Catalog</h2>
    <ul class="list-catalog-section">
      <li class="item-catalog-list">
        <div class="item-card">
          <picture>
            <source
              srcset="
                ./img/catalog/catalog-desc-unit-1-x1.webp 1x,
                ./img/catalog/catalog-desc-unit-1-x2.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/catalog/catalog-tab-unit-1-x1.webp 1x,
                ./img/catalog/catalog-tab-unit-1-x2.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/catalog/catalog-mob-unit-1-x1.webp 1x,
                ./img/catalog/catalog-mob-unit-1-x2.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/catalog/catalog-mob-unit-1-x1.webp"
              alt="Garmin Fenix 7X Pro Sapphire Solar"
              class="img-catalog-list"
            />
          </picture>
          <h3 class="title-card">Garmin Fenix 7X Pro Sapphire Solar</h3>

          <p class="price-catalog-section">€500</p>
        </div>
      </li>

      <li class="item-catalog-list">
        <div class="item-card">
          <picture>
            <source
              srcset="
                ./img/catalog/catalog-desc-unit-2-x1.webp 1x,
                ./img/catalog/catalog-desc-unit-2-x2.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/catalog/catalog-tab-unit-2-x1.webp 1x,
                ./img/catalog/catalog-tab-unit-2-x2.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/catalog/catalog-mob-unit-2-x1.webp 1x,
                ./img/catalog/catalog-mob-unit-2-x2.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/catalog/catalog-mob-unit-2-x1.webp"
              alt="Garmin Marq Athlete"
              class="img-catalog-list"
            />
          </picture>
          <h3 class="title-card">Garmin Marq Athlete</h3>
          <p class="price-catalog-section">€450</p>
        </div>
      </li>

      <li class="item-catalog-list">
        <div class="item-card">
          <picture>
            <source
              srcset="
                ./img/catalog/catalog-desc-unit-3-x1.webp 1x,
                ./img/catalog/catalog-desc-unit-3-x2.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/catalog/catalog-tab-unit-3-x1.webp 1x,
                ./img/catalog/catalog-tab-unit-3-x2.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/catalog/catalog-mob-unit-3-x1.webp 1x,
                ./img/catalog/catalog-mob-unit-3-x2.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/catalog/catalog-mob-unit-3-x1.webp"
              alt="Garmin Descent MK1"
              class="img-catalog-list"
            />
          </picture>
          <h3 class="title-card">Garmin Descent MK1</h3>
          <p class="price-catalog-section">€680</p>
        </div>
      </li>

      <li class="item-catalog-list">
        <div class="item-card">
          <picture>
            <source
              srcset="
                ./img/catalog/catalog-desc-unit-4-x1.webp 1x,
                ./img/catalog/catalog-desc-unit-4-x2.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/catalog/catalog-tab-unit-4-x1.webp 1x,
                ./img/catalog/catalog-tab-unit-4-x2.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/catalog/catalog-mob-unit-4-x1.webp 1x,
                ./img/catalog/catalog-mob-unit-4-x2.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/catalog/catalog-mob-unit-4-x1.webp"
              alt="Garmin D2 Delta PX"
              class="img-catalog-list"
            />
          </picture>
          <h3 class="title-card">Garmin D2 Delta PX</h3>
          <p class="price-catalog-section">€380</p>
        </div>
      </li>

      <li class="item-catalog-list mobile-none">
        <div class="item-card">
          <picture>
            <source
              srcset="
                ./img/catalog/catalog-desc-unit-5-x1.webp 1x,
                ./img/catalog/catalog-desc-unit-5-x2.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/catalog/catalog-tab-unit-5-x1.webp 1x,
                ./img/catalog/catalog-tab-unit-5-x2.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/catalog/catalog-mob-unit-5-x1.webp 1x,
                ./img/catalog/catalog-mob-unit-5-x2.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/catalog/catalog-mob-unit-5-x1.webp"
              alt="Garmin Fenix 6 Pro Solar"
              class="img-catalog-list"
            />
          </picture>
          <h3 class="title-card">Garmin Fenix 6 Pro Solar</h3>
          <p class="price-catalog-section">€400</p>
        </div>
      </li>

      <li class="item-catalog-list mobile-none">
        <div class="item-card">
          <picture>
            <source
              srcset="
                ./img/catalog/catalog-desc-unit-6-x1.webp 1x,
                ./img/catalog/catalog-desc-unit-6-x2.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/catalog/catalog-tab-unit-6-x1.webp 1x,
                ./img/catalog/catalog-tab-unit-6-x2.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/catalog/catalog-mob-unit-6-x1.webp 1x,
                ./img/catalog/catalog-mob-unit-6-x2.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/catalog/catalog-mob-unit-6-x1.webp"
              alt="Tube Watch S42 Date Steel With Black Case"
              class="img-catalog-list"
            />
          </picture>
          <h3 class="title-card">Tube Watch S42 Date Steel With Black Case</h3>
          <p class="price-catalog-section">€395</p>
        </div>
      </li>
    </ul>
    <button type="button" class="mob-button-catalog-section">Show more</button>
  </div>
</section>
