<section>
    <div class="container">
        <h2>Contact Us</h2>
        <div class="wrapper">
            <p>Please use the form below to contact us. Enter your name, email, phone, and message and we'll get back to you shortly.</p>
            <form class="">
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email">
                <input type="tel" placeholder="+380">
                <textarea placeholder="Comment"></textarea>
                <button type="button">Send</button>
            </form>
        </div>
    </div>
</section>
