<header class="header" id="header">
  <div class="header-container container">
    <a href="./index.html" class="logo">watchcharm</a>
    <button class="mob-menu-btn" type="button" aria-label="Open menu">
      <span class="mob-menu-icon"></span>
    </button>

    <nav class="nav">
      <ul class="nav-list">
        <li><a href="#hero" class="nav-link current">Home</a></li>
        <li><a href="#about-us" class="nav-link">About Us</a></li>
        <li><a href="#catalog" class="nav-link">Catalog</a></li>
        <li><a href="#sale" class="nav-link">Sale</a></li>
        <li><a href="#review" class="nav-link">Reviews</a></li>
        <li><a href="#contact-us" class="nav-link">Contact Us</a></li>
      </ul>
    </nav>

    <!-- mob-menu -->
    <div class="mobile-menu">
      <!-- <div>-->
      <button class="menu-open-btn" type="button">
        <svg class="menu-icon" width="34" height="34">
          <use href="/img/sprite.svg#icon-x"></use>
        </svg>
      </button>
      <nav class="mob-menu-nav">
        <ul class="mob-menu-list">
          <li class="mob-menu-item">
            <a class="mob-menu-link current" href="#hero">Home</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="#about-us">About Us</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="#catalog">Catalog</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="#sale">Sale</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="#review">Reviews</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="#contact-us">Contact Us</a>
          </li>
        </ul>
      </nav>
      <!-- </div>-->

      <ul class="mob-soc-list">
        <li class="mob-soc-item">
          <a
            class="mob-soc-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
          >
            <svg class="mob-soc-icon" width="18" height="18">
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="mob-soc-item">
          <a
            class="mob-soc-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
          >
            <svg class="mob-soc-icon" width="18" height="18">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="mob-soc-item">
          <a
            class="mob-soc-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            <svg class="mob-soc-icon" width="18" height="18">
              <use href="./img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <!-- mob-menu -->

    <ul class="social-list">
      <li class="social-item">
        <a
          class="social-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
        >
          <svg class="social-icon" width="20" height="20">
            <use href="./img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a
          class="social-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
        >
          <svg class="social-icon" width="20" height="20">
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a
          class="social-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
        >
          <svg class="social-icon" width="20" height="20">
            <use href="./img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
