<header class="header">
  <div class="container header-container">
    <a href="./index.html" class="logo">watchcharm</a>
    <button class="burger-button" type="button" aria-label="Open menu">
      <svg class="icon-mob-menu" width="24" height="24">
        <use href="/img/sprite.svg#icon-mob-menu"></use>
      </svg>
    </button>

    <nav class="nav">
      <ul class="nav-list">
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
      </ul>
    </nav>

    <ul class="social-list">
      <li>
        <a href="#"
          ><svg><!-- facebook --></svg></a
        >
      </li>
      <li>
        <a href="#"
          ><svg><!-- insta --></svg></a
        >
      </li>
      <li>
        <a href="#"
          ><svg><!-- yt --></svg></a
        >
      </li>
    </ul>
  </div>
</header>
