<header class="header">
  <div class="header-container">
    <a href="./index.html" class="logo">watchcharm</a>
    <button class="mob-menu-btn" type="button" aria-label="Open menu">
      <span class="mob-menu-icon"></span>
    </button>

    <nav class="nav">
      <ul class="nav-list">
        <li><a href="#" class="nav-link current">Home</a></li>
        <li><a href="#" class="nav-link current">About Us</a></li>
        <li><a href="#" class="nav-link current">Catalog</a></li>
        <li><a href="#" class="nav-link current">Sale</a></li>
        <li><a href="#" class="nav-link current">Reviews</a></li>
        <li><a href="#" class="nav-link current">Contact Us</a></li>
      </ul>
    </nav>

    <ul class="social-list">
      <li class="social-item">
        <a class="social-link" href="#">
          <svg class="social-icon" width="20" height="20">
            <use href="./img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a class="social-link" href="#">
          <svg class="social-icon" width="20" height="20">
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a class="social-link" href="#">
          <svg class="social-icon" width="20" height="20">
            <use href="./img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
