<!-- section hero -->
<section class="hero">
    <div class="container">
        <div class="hero-content">
            <div class="hero-title-text">
                <h1 class="hero-title">Welcome to our <span class="hero-collection">collection</span> of premium watches
                </h1>
                <p class="hero-text">Our watches are not just timepieces, but also an expression of your personality and
                    lifestyle. From classic designs to
                    modern ones, we have a watch to suit every taste and occasion.</p>
            </div>
            <div class="hero-people">
                <ul class="hero-image-people">
                    <li class="image-list">
                        <picture>
                            <source media="(min-width: 1280px)" 
                                    srcset="./img/hero/hero-desc-portrait-1-1x.webp 1x ,
                                    ./img/hero/hero-desc-portrait-1-2x.webp 2x" />
                            <source media="(min-width: 768px)" 
                                    srcset="./img/hero/hero-tab-portrait-1-1x.webp 1x ,
                                    ./img/hero/hero-tab-portrait-1-2x.webp 2x" />
                            <source media="(max-width: 767px)" 
                                srcset="./img/hero/hero-mob-portrait-1-1x.webp 1x ,
                                ./img/hero/hero-mob-portrait-1-2x.webp 2x" />
                            <img class="image-women-blond" src="./img/hero/hero-desc-portrait-1-1x.webp" alt="" width="44px" height="44px">
                        </picture>
                    </li>
                    <li class="image-list">
                        <picture>
                            <source media="(min-width: 1280px)" 
                                srcset="./img/hero/hero-desc-portrait-2-1x.webp 1x ,
                                    ./img/hero/hero-desc-portrait-2-2x.webp 2x" />
                            <source media="(min-width: 768px)" 
                                srcset="./img/hero/hero-tab-portrait-2-1x.webp 1x ,
                                        ./img/hero/hero-tab-portrait-2-2x.webp 2x" />
                            <source media="(max-width: 767px)" 
                                srcset="./img/hero/hero-mob-portrait-2-1x.webp 1x ,
                                        ./img/hero/hero-mob-portrait-2-2x.webp 2x" />
                            <img class="image-women-blond" 
                            src="./img/hero/hero-desc-portrait-2-1x.webp" alt="" width="44px" height="44px">
                        </picture>
                    </li>
                    <li class="image-list">
                        <picture>
                            <source media="(min-width: 1280px)" 
                                srcset="./img/hero/hero-desc-portrait-3-1x.webp 1x ,
                                        ./img/hero/hero-desc-portrait-3-2x.webp 2x" />
                            <source media="(min-width: 768px)" 
                                srcset="./img/hero/hero-tab-portrait-3-1x.webp 1x ,
                                        ./img/hero/hero-tab-portrait-3-2x.webp 2x" />
                            <source media="(max-width: 767px)" 
                                srcset="./img/hero/hero-mob-portrait-3-1x.webp 1x ,
                                        ./img/hero/hero-mob-portrait-3-2x.webp 2x" />
                            <img class="image-women-blond" 
                                src="./img/hero/hero-desc-portrait-3-1x.webp" alt="" width="44px" height="44px">
                        </picture>
                    </li>
                </ul>
                <a class="link-skkoll" href="">Scroll down</a>
            </div>
        </div>
        <div>
            <picture>
                <source media="(min-width: 1280px)" srcset="./img/hero/hero-desc-main-1x.webp 1x ,
                ./img/hero/hero-desc-main-2x.webp 2x" />
                <source media="(min-width: 768px)" srcset="./img/hero/hero-tab-main-1x.webp 1x ,
                ./img/hero/hero-tab-main-2x.webp 2x" />
                <source media="(max-width: 767px)" srcset="./img/hero/hero-mob-main-1x.webp 1x ,
                ./img/hero/hero-mob-main-2x.webp 2x" />
                <img src="./img/hero/hero-desc-main-1x.webp" alt="hero-clock" />
            </picture>
        </div>
    </div>
</section>