<!-- <div class="mobile-menu is-open">
  <div>
    <button class="menu-open-btn" type="button">
      <svg class="menu-icon" width="34" height="34">
        <use href="/img/sprite.svg#icon-x"></use>
      </svg>
    </button>
    <nav class="mob-menu-nav">
      <ul class="mob-menu-list">
        <li class="mob-menu-item">
          <a class="mob-menu-link current" href="">Home</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="">About Us</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="">Catalog</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="">Sale</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="">Reviews</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="">Contact Us</a>
        </li>
      </ul>
    </nav>
  </div>

  <ul class="mob-soc-list">
    <li class="mob-soc-item">
      <a class="mob-soc-link" href="">
        <svg class="mob-soc-icon" width="18" height="18">
          <use href="./img/sprite.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="mob-soc-item">
      <a class="mob-soc-link" href="">
        <svg class="mob-soc-icon" width="18" height="18">
          <use href="./img/sprite.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="mob-soc-item">
      <a class="mob-soc-link" href="">
        <svg class="mob-soc-icon" width="18" height="18">
          <use href="./img/sprite.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
  </ul>
</div> -->
