<button class="burger-button" type="button">
  <svg class="burger-icon" width="34" height="34">
    <use href=""></use>
  </svg>
</button>

<div>
  <div class="mobile-menu">
    <div class="mobile-menu-container">
      <button>
        <svg class="burger-icon" width="34" height="34">
          <use href=""></use>
        </svg>
      </button>
      <nav class="mob-menu-nav">
        <ul class="mob-menu-list">
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="">Home</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="">About Us</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="">Catalog</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="">Sale</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="">Reviews</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="">Contact Us</a>
          </li>
        </ul>
      </nav>

      <ul class="mob-soc-list">
        <li class="mob-soc-item">
          <a class="mob-soc-link" href="">
            <svg class="mob-soc-icon" width="" height="">
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="mob-soc-item">
          <a class="mob-soc-link" href="">
            <svg class="mob-soc-icon" width="" height="">
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="mob-soc-item">
          <a class="mob-soc-link" href="">
            <svg class="mob-soc-icon" width="" height="">
              <use href=""></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
