<section class="review" id="review">
    <div class="container review-container">
        <h2 class="review-title">Reviews</h2>
        <ul class="review-list">
            <li class="review-list-item">
                <div class="review-list-item-container">
                    <img class="review-photo"
                        srcset="./img/reviews/reviews-portrait-1-1x.webp 1x, ./img/reviews/reviews-portrait-1-2x.webp 2x"
                        src="./img/reviews/reviews-portrait-1-1x.webp" alt="John Wax" width="56" height="56">
                    <h3 class="review-name">John Wax</h3>
                    <p class="review-text">Buying a watch from was the best choice for me. The design is perfectly
                        combined with high quality materials. The strap
                        fits nicely on the hand, and the mechanism works flawlessly.</p>
                </div>
            </li>
            <li class="review-list-item block-2">
                <div class="review-list-item-container">
                    <img class="review-photo"
                        srcset="./img/reviews/reviews-portrait-2-1x.webp 1x, ./img/reviews/reviews-portrait-2-2x.webp 2x"
                        src="./img/reviews/reviews-portrait-2-1x.webp" alt="Victoria Romashenko" width="56" height="56">
                    <h3 class="review-name">Victoria Romashenko</h3>
                    <p class="review-text">Can't take my eyes off my watch from. Every time I put it on, it is admired
                        by those around me. The build quality and attention to detail make it a real gem among my
                        accessories.</p>
                </div>
            </li>
            <li class="review-list-item block-3">
                <div class="review-list-item-container">
                    <img class="review-photo"
                        srcset="./img/reviews/reviews-portrait-3-1x.webp 1x, ./img/reviews/reviews-portrait-3-2x.webp 2x"
                        src="./img/reviews/reviews-portrait-3-1x.webp" alt="Anastasia Trachuk" width="56" height="56">
                    <h3 class="review-name">Anastasia Trachuk</h3>
                    <p class="review-text">My watch from is a real masterpiece. Every detail impresses with the high
                        quality of execution. Special features like
                        [specify features] make it an indispensable companion in my daily life.</p>
                </div>
            </li>
        </ul>
    </div>
</section>