<section class="sale" id="sale">
    <div class="container sale-container">
        <h2 class="sale-title">Sale</h2>
        <div class="sale-content">
            <div class="sale-photos">
                <ul class="sale-icons">
                    <li class="frame">
                        <picture>
                            <source media="(min-width: 1280px)"
                                srcset="./img/sale/sale-tab-desc-icon-1-1x.webp 1x, ./img/sale/sale-tab-desc-icon-1-2x.webp 2x"
                                width="96" height="100" />
                            <source media="(max-width: 767px)"
                                srcset="./img/sale/sale-tab-desc-icon-1-1x.webp 1x, ./img/sale/sale-tab-desc-icon-1-2x.webp 2x"
                                width="96" height="100" />
                            <source media="(min-width: 375px)"
                                srcset="./img/sale/sale-mob-icon-1-1x.webp 1x, ./img/sale/sale-mob-icon-1-2x.webp 2x" />
                            <img src="./img/sale/sale-tab-desc-icon-1-1x.webp" alt="Watch menu" width="52" height="54" />
                        </picture>
                    </li>
                    <li class="frame">
                        <picture>
                            <source media="(min-width: 1280px)"
                                srcset="./img/sale/sale-tab-desc-icon-2-1x.webp 1x, ./img/sale/sale-tab-desc-icon-2-2x.webp 2x"
                                width="96" height="100" />
                            <source media="(max-width: 767px)"
                                srcset="./img/sale/sale-tab-desc-icon-2-1x.webp 1x, ./img/sale/sale-tab-desc-icon-2-2x.webp 2x"
                                width="96" height="100" />
                            <source media="(min-width: 375px)"
                                srcset="./img/sale/sale-mob-icon-2-1x.webp 1x, ./img/sale/sale-mob-icon-2-2x.webp 2x" />
                            <img src="./img/sale/sale-mob-icon-2-1x.webp" alt="Sleep time" width="52" height="54" />
                        </picture>
                    </li>
                    <li class="frame">
                        <picture>
                            <source media="(min-width: 1280px)"
                                srcset="./img/sale/sale-tab-desc-icon-3-1x.webp 1x, ./img/sale/sale-tab-desc-icon-3-2x.webp 2x"
                                width="96" height="100" />
                            <source media="(max-width: 767px)"
                                srcset="./img/sale/sale-tab-desc-icon-3-1x.webp 1x, ./img/sale/sale-tab-desc-icon-3-2x.webp 2x"
                                width="96" height="100" />
                            <source media="(min-width: 375px)"
                                srcset="./img/sale/sale-mob-icon-3-1x.webp 1x, ./img/sale/sale-mob-icon-3-2x.webp 2x" />
                            <img src="./img/sale/sale-mob-icon-3-1x.webp" alt="Side view" width="52" height="54" />
                        </picture>
                    </li>
                    <li class="frame">
                        <picture>
                            <source media="(min-width: 1280px)"
                                srcset="./img/sale/sale-tab-desc-icon-4-1x.webp 1x, ./img/sale/sale-tab-desc-icon-4-2x.webp 2x"
                                width="96" height="100" />
                            <source media="(max-width: 767px)"
                                srcset="./img/sale/sale-tab-desc-icon-4-1x.webp 1x, ./img/sale/sale-tab-desc-icon-4-2x.webp 2x"
                                width="96" height="100" />
                            <source media="(min-width: 375px)"
                                srcset="./img/sale/sale-mob-icon-4-1x.webp 1x, ./img/sale/sale-mob-icon-4-2x.webp 2x" />
                            <img src="./img/sale/sale-mob-icon-4-1x.webp" alt="Rear view" width="52" height="54" />
                        </picture>
                    </li>
                </ul>
                <div class="sale-main-photo-frame">
                    <picture>
                        <source media="(min-width: 1280px)"
                            srcset="./img/sale/sale-tab-desc-main-1x.webp 1x, ./img/sale/sale-tab-desc-main-2x.webp 2x"
                            width="328" height="398" />
                        <source media="(max-width: 767px)"
                            srcset="./img/sale/sale-tab-desc-main-1x.webp 1x, ./img/sale/sale-tab-desc-main-2x.webp 2x"
                            width="328" height="398" />
                        <source media="(min-width: 375px)"
                            srcset="./img/sale/sale-mob-main-1x.webp 1x, ./img/sale/sale-mob-main-2x.webp 2x" />
                        <img src="./img/sale/sale-mob-main-1x.webp" alt="Time view" width="235" height="235" />
                    </picture>
                </div>
            </div>
            <div class="sale-text">
                <div class="sale-watch-name">
                    <h3 class="sale-subtitle">MARQ® Commander (Gen 2) - Carbon Edition</h3>
                    <p class="sale-product-tag">Product tag: 706587</p>
                </div>
                <div class="price">
                    <div class="sale-price">€1500</div>
                    <div class="full-price">€3000</div>
                </div>
                <p class="sale-watch-descr">The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for
                    adventurers that takes materials and features to the next level. The body of the watch is made of
                    very durable Fused Carbon Fiber material and has a precise AMOLED touch screen. The sensitive touch
                    screen is complemented by buttons that can be used in any conditions.
                </p>
                <div class="sale-features-blocks">
                    <div class="sale-block">Fused carbon fiber</div>
                    <div class="sale-block">Grade-5 Titanuim</div>
                    <div class="sale-block">Athlete</div>
                    <div class="sale-block">Golfer</div>
                    <div class="sale-block">Commander</div>
                    <div class="sale-block">Adventurer</div>
                </div>
            </div>
        </div>
    </div>
</section>