<section class="sale">
    <div class="container sale-container">
      <h2 class="sale-title">Sale</h2>
      <div class="sale-content">
        <div class="sale-photos">
            <div class="sale-little-photos">
                <div class="frame">
                    <img/>
                </div>
                <div class="frame">
                    <img/>
                </div>
                <div class="frame">
                    <img/>
                </div>
                <div class="frame">
                    <img/>
                </div>
            </div>
            <div class="sale-main-photo-frame">
                <img class="sale-main-photo"/>
            </div> 
        </div>
        <div class="sale-text">
            <div class="sale-watch-name">
                <h3 class="sale-subtitle">MARQ® Commander (Gen 2) - Carbon Edition</h3>
                <p class="sale-product-tag">Product tag: 706587</p>
            </div>
            <div class="price">
                <div class="sale-price">€1500</div>
                <div class="full-price">€3000</div>
            </div>
            <p class="sale-watch-descr">The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for adventurers that takes materials and features to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has a precise AMOLED touch screen. The sensitive touch screen is complemented by buttons that can be used in any conditions.
            </p>
            <div class="sale-features-blocks">
                <div class="sale-block">Fused carbon fiber</div>
                <div class="sale-block">Grade-5 Titanuim</div>
                <div class="sale-block">Athlete</div>
                <div class="sale-block">Golfer</div>
                <div class="sale-block">Commander</div>
                <div class="sale-block">Adventurer</div>
            </div>
        </div>
      </div>  
    </div>
</section>
