        /* header */

.header {
    padding: 20px 0;
    height: 74px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(12, 12, 12, 0.1);
    background-color: #ffffff;
}

.header-container {
    width: 100%;
    /* max-width: 335px; */
    /* margin: 0 auto; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav,
.social-list {
    display: none;
}

.logo{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #0c0c0c;
}

.mob-menu-btn {
    width: 34px;
    height: 34px;
    background-color: transparent;
    border: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
}

.mob-menu-icon {
    position: relative;
    display: block;
    width: 28px;
    height: 3px;  
    background-color: transparent;
    border-radius: 2px;
}

.mob-menu-icon::before,
.mob-menu-icon::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 2.5px;
    background-color: #0c0c0c;
    border-radius: 2px;
    left: 0;
}

.mob-menu-icon::before {
    top: -4px;
}

.mob-menu-icon::after {
    top: 4px;

}

@media screen and (min-width: 768px) {
    .header {
        height: 92px;
        padding: 26px 0;
    }

.header-container {
    /* max-width: 704px;    */
}

.logo {
    font-size: 20px;
}

.mob-menu-icon {
    width: 30px;
    height: 3px;
}

.mob-menu-icon::before
.mob-menu-icon::after {
    width: 30px;
    height: 3px;
}
}

@media screen and (min-width: 1280px) {
    .header {
        height: 88px;
        padding: 26px 0;
    }

    .header-container {
        /* max-width: 1151px; */
    }

    .mob-menu-btn {
        display: none;
    }

    .nav,
    .social-list {
        display: flex;
    }


    .nav-list {
        display: flex;
        gap: 24px;
        position: relative;
    }


    .social-list {
        display: flex;
        gap: 10px;
    }

    .social-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        border-radius: 10px;
        border: 1px solid rgba(12, 12, 12, 0.1);
    }        

    .social-icon {
        fill: #0c0c0c;
        transition: fill 0.3s ease;
    }

    .social-link:hover .social-icon,
    .social-link:focus .social-icon {
        fill: #3350e9;
    }

    .nav-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        /* height: 28px; */

        color: #0c0c0c;
        text-decoration: none;
        position: relative;
        padding-bottom: 6px;
    }

    
    .nav-list a {
        position: relative;
        transition: color 0.3s ease;
    }

    .nav-list a::after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 50%;
        transform: translateX(-50%);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #3350e9;
        opacity: 0;
        transition: opacity 0.2s ease;
    }

    .nav-list a:hover::after,
    .nav-list a:focus::after {
        opacity: 1;
    }
}
          /* header */


        /* mob-menu */
.mobile-menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 200px;
    height: 100%;
    z-index: 99;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(/img/modal/modal-mob-bg-x1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

@media screen and (min-resolution: 2x) {
    .mobile-menu {
        width: 330px;
        background-image: url(/img/modal/modal-mob-bg-x2.webp);
    }
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.menu-open-btn {
    display: block;
    margin-left: auto;
    margin-bottom: 186px;
    stroke-width: 2.5px;
    background-color: transparent;
    stroke: #fbfbfb;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
}


.menu-icon {
    width: 20px;
    height: 20px;
    fill: #fbfbfb;
}

.mob-menu-nav {}

.mob-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mob-soc-item {}

.mob-menu-item:not(:last-child) {
    margin-bottom: 24px;
}

.mob-menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    color: #fbfbfb;
}

.mob-menu-link.current {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mob-menu-link.current::before {
    content: '';

    position: absolute;
    top: 100%;
    margin-top: 2px;

    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #3350e9;
}

.mob-soc-list {
    display: flex;
    gap: 10px;

    align-items: center;
    justify-content: center;
}

.mob-soc-item {}

.mob-soc-link {
    display: flex;
    border: 1px solid rgba(251, 251, 251, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 34px;
    height: 34px;
    fill: #fbfbfb;
}

.mob-soc-icon {}

@media screen and (min-width: 768px) {
    .mobile-menu {
        padding-top: 26px;
        padding-right: 32px;
        padding-bottom: 50px;
        padding-left: 32px;

        background-image: url(/img/modal/modal-tab-bg-x1.webp);
    }

    @media screen and (min-resolution: 2x) {
        .mobile-menu {
            background-image: url(/img/modal/modal-tab-bg-x2.webp);
        }
    }

    .menu-open-btn {
        width: 40px;
        height: 40px;
        margin-bottom: 244px;
        stroke-width: 3px;
    }

    .menu-icon {
        width: 24px;
        height: 24px;
        fill: #fbfbfb;
    }

    .mob-menu-item:not(:last-child) {
        margin-bottom: 32px;
    }

    .mob-soc-link {
        width: 36px;
        height: 36px;
    }
}

@media only screen and (min-width: 1280px) {
    .mobile-menu {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}